[defaults]
inventory=./dutch_hosts
forks=7
host_key_checking=false
roles_path=./roles/:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles
collections_path=./collections:/home/student/.ansible/collections:/usr/share/ansible/collections
remote_user=student


[persistent_connection]
command_timeout=120
connect_retry_timeout=30
connect_timeout=120


[privilege_escalation]
become=false
become_method=ansible.builtin.sudo
become_user=root
become_ask_pass=False



[galaxy]
server_list=published, redhat, free


[galaxy_server.published]
url=https://aap.lab.example.com/api/galaxy/content/published/
token=84bd5ee4b29e9ba489e6b9b577ecf2e4f3b3ca61

[galaxy_server.redhat]
url=https://aap.lab.example.com/api/galaxy/content/rh-certified/
token=84bd5ee4b29e9ba489e6b9b577ecf2e4f3b3ca61

[galaxy_server.free]
url=https://galaxy.ansible.com
